@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

h1 p ul {
    margin: 0;
}

a {
    text-decoration: none;
}

Header a {
    list-style: none;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    margin-right: 8px;
    color: #fff;
    text-decoration: none;
}


Header {
    padding: 16px 0;
}

.banner {
    background: linear-gradient(89.44deg, #051B47 51.69%, #051B47 98.14%);
    text-transform: capitalize;
    height: 100vh;
}

.primary-btn {
    padding: 16px 24px 16px 24px;
    border-radius: 10px;
    gap: 10px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    background-color: #FF743D;
    color: #fff;
}

.banner h1 {
    font-family: Poppins;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0em;
    color: #fff;

}

.banner h1 span {
    color: #FF743D;
}

.banner-content {
    height: calc(100vh - 95px);
    display: flex;
    align-items: center;
}

.banner p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0em;
    color: #fff;
}

iframe {
    border-radius: 15px;
}

.custom-margin {
    margin-left: 5%;
    /* Adjust this value as needed */
    margin-right: 5%;
}

h2::after {

    content: '';
    /* Required for the pseudo-element */
    display: block;
    /* Makes the pseudo-element a block-level element */
    width: 10%;
    /* Adjust the width of the line as needed */
    height: 2px;
    /* Adjust the height (thickness) of the line as needed */
    background-color: #FF743D;
    /* Adjust the color of the line as needed */
    margin-top: 5px;
    /* Adjust the spacing between the line and the text as needed */




}

.AboutUs h3 {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0em;
    color: #051B47;
    margin-left: 12%;
}

.AboutUs img {
    width: 731px;
    height: 413px;
    border-radius: 10px;
    border: 2px;
    margin-left: 12%;

    /* width: 731px
height: 413px
border-radius: 10px
border: 2px */

}

.AboutUs div[class^="col-"]>div>h2 {

    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0em;
    color: #051B47;
}

.AboutUs div[class^="col-"]>div>h4 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0em;
    color: #051B47;
    /* text-align: left; */

}

.AboutUs div[class^="col-"]>div>ul {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #051B47B2;

}

.AboutUs div[class^="col-"]>div>a.btn {
    padding: 12px 18px 12px 18px;
    border-radius: 10px;
    gap: 10px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    background-color: #FF743D;
    color: #fff;
    width: 40%;


}

.PreviousProjects {
    background: rgba(171, 200, 255, 0.5);

}

.CaseStudio {
    margin-left: 5%;
    margin-right: 5%;


}

h3::after {
    content: '';
    /* Required for the pseudo-element */
    display: block;
    /* Makes the pseudo-element a block-level element */
    width: 10%;
    /* Adjust the width of the line as needed */
    height: 2px;
    /* Adjust the height (thickness) of the line as needed */
    background-color: #FF743D;
    /* Adjust the color of the line as needed */
    margin-top: 5px;
    /* Adjust the spacing between the line and the text as needed */

}

.CaseStudio img {
    width: 382px;
    height: 204px;
    border-radius: 5px;

}

.divstyle {
    padding: 10px;
    background-color: #fff;
    border: solid rgba(0, 0, 0, 0.3) 1px;
    border-radius: 15px;

}

.RowImages span {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(80, 80, 80, 1)
}

.divstyle1 h5 {
    padding-top: 16px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;


}

.divstyle1 h6 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 16px;
    color: linear-gradient(0deg, #000000, #000000),
        linear-gradient(0deg, #505050, #505050);

}

.CaseStudio p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #051B47CC;


}

.CaseStudio h3 {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #051B47;


}

.CaseStudio div.btn {

    display: flex;
    justify-content: center;
    /* Horizontally center the contents */
    align-items: center;
    width: auto;

}